html, body {
margin: 0 auto;
padding: 0;
text-align: center;
background-color: #d7e9ff;
}

/* #v{
display:none;
} */

#screen{
    margin: 0 auto;
	width:480px;
	height:480px;
	background-color:#000000;
}
button{
	width:100px;
	height:50px;
}
